files:
    "/etc/nginx/conf.d/proxy.conf":
        content: |
            client_max_body_size 50G;

    "/etc/nginx/conf.d/static_cors.config":
        mode: "000644"
        owner: root
        group: root
        content: |
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Credentials' 'true';
            add_header 'Access-Control-Allow-Methods' 'GET, POST';
            add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
